---
title: 8000038 overenie účtu HDPR detí
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 0e38f360e56d750c917e61a56bb8a7e8587c00fc
ms.sourcegitcommit: d6ea5e9458a2b8ceaab3ac4bd483e1130b9a398a
ms.translationtype: MT
ms.contentlocale: sk-SK
ms.lasthandoff: 01/15/2019
ms.locfileid: "28310724"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a><span data-ttu-id="30096-102">Dátum narodenia zobrazia v účte Microsoft je nesprávne</span><span class="sxs-lookup"><span data-stu-id="30096-102">Date of birth displayed in your Microsoft account is incorrect</span></span>

<span data-ttu-id="30096-p101">Microsoft má zabezpečenie účtu veľmi vážne. Môžete mať nedávno boli vyzvaní na poskytovanie rodičovského súhlasu detského konta Microsoft. Ak potrebujete pomoc rodičovského súhlasu alebo aktualizovať dátumu narodenia v konte Microsoft, pozrite si [overenie veku súhlasu rodičov](https://go.microsoft.com/fwlink/p/?linkid=874364).</span><span class="sxs-lookup"><span data-stu-id="30096-p101">Microsoft takes account security very seriously. You may have recently been prompted to provide parental consent for a child's Microsoft account. If you need help providing parental consent or updating the date of birth on a Microsoft account, see [Age verification for parental consent](https://go.microsoft.com/fwlink/p/?linkid=874364).</span></span>
  
<span data-ttu-id="30096-106">Ďalšie informácie o [súhlas rodičov a detí kontá Microsoft](https://go.microsoft.com/fwlink/p/?linkid=874365).</span><span class="sxs-lookup"><span data-stu-id="30096-106">Learn more about [Parental consent and Microsoft child accounts](https://go.microsoft.com/fwlink/p/?linkid=874365).</span></span>
  

