---
title: 8000038 overenie účtu HDPR detí
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 993797d951dddea20d7df24ad40b5834a537852a
ms.sourcegitcommit: dd43cc0a9470f98b8ef2a3787c823801d674c666
ms.translationtype: MT
ms.contentlocale: sk-SK
ms.lasthandoff: 02/12/2019
ms.locfileid: "29919959"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Dátum narodenia zobrazia v účte Microsoft je nesprávne

Microsoft má zabezpečenie účtu veľmi vážne. Môžete mať nedávno boli vyzvaní na poskytovanie rodičovského súhlasu detského konta Microsoft. Ak potrebujete pomoc rodičovského súhlasu alebo aktualizovať dátumu narodenia v konte Microsoft, pozrite si [overenie veku súhlasu rodičov](https://go.microsoft.com/fwlink/p/?linkid=874364).
  
Ďalšie informácie o [súhlas rodičov a detí kontá Microsoft](https://go.microsoft.com/fwlink/p/?linkid=874365).
  

