---
title: Overenie EDU
ms.author: pebaum
author: pebaum
manager: scotv
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 870f175adc5ee31d32266a69af9acedb66899bc8
ms.sourcegitcommit: 8bc60ec34bc1e40685e3976576e04a2623f63a7c
ms.translationtype: MT
ms.contentlocale: sk-SK
ms.lasthandoff: 04/15/2021
ms.locfileid: "51814387"
---
# <a name="edu-verification"></a><span data-ttu-id="bb34e-102">Overenie EDU</span><span class="sxs-lookup"><span data-stu-id="bb34e-102">EDU verification</span></span>

<span data-ttu-id="bb34e-103">Vo väčšine prípadov sa žiadosti o oprávnenosť na akademické inštitúcie spracujú do 24 až 48 hodín.</span><span class="sxs-lookup"><span data-stu-id="bb34e-103">In most cases, academic eligibility requests are processed within 24-48 hours.</span></span> <span data-ttu-id="bb34e-104">Niektoré žiadosti môžu vyžadovať dôkladnejšiu kontrolu a spracovanie môže trvať až 10 pracovných dní.</span><span class="sxs-lookup"><span data-stu-id="bb34e-104">Some requests may require more thorough review and can take up to 10 business days to process.</span></span> <span data-ttu-id="bb34e-105">Po dokončení vám odošleme e-mail so stavom oprávnenia vašej školy.</span><span class="sxs-lookup"><span data-stu-id="bb34e-105">Once completed, we will send an email with your school’s eligibility status.</span></span>

<span data-ttu-id="bb34e-106">**Dôležité** Ak ste pred zadaním domény opustili Sprievodcu [](https://go.microsoft.com/fwlink/p/?linkid=2135255) overovaním, môžete ho kedykoľvek počas bezplatnej skúšobnej verzie obnoviť.</span><span class="sxs-lookup"><span data-stu-id="bb34e-106">**Important** If you exited the verification wizard before entering a domain, you can [resume the academic verification wizard](https://go.microsoft.com/fwlink/p/?linkid=2135255) at any time during your free trial.</span></span>

<span data-ttu-id="bb34e-107">Ak chcete skontrolovať stav svojej domény, prejdite do Centra spravovania služby [Microsoft 365.](https://go.microsoft.com/fwlink/p/?linkid=2024339)</span><span class="sxs-lookup"><span data-stu-id="bb34e-107">If you would like to check the status of your domain, go to the [Microsoft 365 admin center](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span></span> <span data-ttu-id="bb34e-108">Na domovskej stránke sa posuňte nadol a vyhľadajte kartu **Fakturácia.**</span><span class="sxs-lookup"><span data-stu-id="bb34e-108">On the home page, scroll to the bottom and find the **Billing** card.</span></span> <span data-ttu-id="bb34e-109">Na **karte** Fakturácia sa zobrazuje stav procesu overovania (schválené, čakajúce, odmietnutá alebo pridanie domény).</span><span class="sxs-lookup"><span data-stu-id="bb34e-109">The **Billing** card indicates the status of the verification process (approved, pending, declined, or add your domain).</span></span>

<span data-ttu-id="bb34e-110">Ak je vaša žiadosť zamietnutá, pozrite si [časť Moja škola nemá oprávnenie. Čo mám robiť teraz?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span><span class="sxs-lookup"><span data-stu-id="bb34e-110">If your request is denied, see [My school isn’t eligible. What do I do now?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span></span>