---
title: Overenie EDU
ms.author: pebaum
author: pebaum
manager: scotv
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 24a9cd94272f4103fe404bf86e519582138e6b37734e11715b72ebcd2de9d5cb
ms.sourcegitcommit: b5f7da89a650d2915dc652449623c78be6247175
ms.translationtype: MT
ms.contentlocale: sk-SK
ms.lasthandoff: 08/05/2021
ms.locfileid: "53946777"
---
# <a name="edu-verification"></a>Overenie EDU

Vo väčšine prípadov sa žiadosti o oprávnenosť na akademické inštitúcie spracujú do 24 až 48 hodín. Niektoré žiadosti môžu vyžadovať dôkladnejšiu kontrolu a spracovanie môže trvať až 10 pracovných dní. Po dokončení vám odošleme e-mail so stavom oprávnenia vašej školy.

**Dôležité** Ak ste pred zadaním domény opustili Sprievodcu [](https://go.microsoft.com/fwlink/p/?linkid=2135255) overovaním, môžete ho kedykoľvek počas bezplatnej skúšobnej verzie obnoviť.

Ak chcete skontrolovať stav svojej domény, prejdite do časti Centrum spravovania služby Microsoft 365 [.](https://go.microsoft.com/fwlink/p/?linkid=2024339) Na domovskej stránke sa posuňte nadol a vyhľadajte kartu **Fakturácia.** Na **karte** Fakturácia sa zobrazuje stav procesu overovania (schválené, čakajúce, odmietnutá alebo pridanie domény).

Ak je vaša žiadosť zamietnutá, pozrite si [časť Moja škola nemá oprávnenie. Čo mám robiť teraz?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)