---
title: Overenie EDU
ms.author: pebaum
author: pebaum
manager: mnirkhe
ms.audience: Admin
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 1889eb9b18f312da00196d575376960bc6b028fd
ms.sourcegitcommit: 9e44b852d18a2816acac0aacb78cb99b4c114368
ms.translationtype: MT
ms.contentlocale: sk-SK
ms.lasthandoff: 07/22/2020
ms.locfileid: "45205282"
---
# <a name="edu-verification"></a><span data-ttu-id="c04bc-102">Overenie EDU</span><span class="sxs-lookup"><span data-stu-id="c04bc-102">EDU verification</span></span>

<span data-ttu-id="c04bc-103">Vo väčšine prípadov sa akademické žiadosti o oprávnenosť spracúvajú do 24 až 48 hodín.</span><span class="sxs-lookup"><span data-stu-id="c04bc-103">In most cases, academic eligibility requests are processed within 24-48 hours.</span></span> <span data-ttu-id="c04bc-104">Niektoré požiadavky môžu vyžadovať dôkladnejšie preskúmanie a spracovanie môže trvať až 10 pracovných dní.</span><span class="sxs-lookup"><span data-stu-id="c04bc-104">Some requests may require more thorough review and can take up to 10 business days to process.</span></span> <span data-ttu-id="c04bc-105">Po dokončení vám pošleme e-mail so stavom oprávnenosti vašej školy.</span><span class="sxs-lookup"><span data-stu-id="c04bc-105">Once completed, we will send an email with your school’s eligibility status.</span></span>

<span data-ttu-id="c04bc-106">**Dôležité upozornenie:** Ak ste pred vstupom do domény opustili sprievodcu overením, môžete [počas bezplatnej skúšobnej verzie](https://go.microsoft.com/fwlink/p/?linkid=2135255) kedykoľvek obnoviť sprievodcu akademickým overením.</span><span class="sxs-lookup"><span data-stu-id="c04bc-106">**Important** If you exited the verification wizard before entering a domain, you can [resume the academic verification wizard](https://go.microsoft.com/fwlink/p/?linkid=2135255) at any time during your free trial.</span></span>

<span data-ttu-id="c04bc-107">Ak chcete skontrolovať stav domény, prejdite do Centra [spravovania služby Microsoft 365](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span><span class="sxs-lookup"><span data-stu-id="c04bc-107">If you would like to check the status of your domain, go to the [Microsoft 365 admin center](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span></span> <span data-ttu-id="c04bc-108">Na domovskej stránke sa posuňte nadol a vyhľadajte kartu **Fakturácia.**</span><span class="sxs-lookup"><span data-stu-id="c04bc-108">On the home page, scroll to the bottom and find the **Billing** card.</span></span> <span data-ttu-id="c04bc-109">Karta **Fakturácia** označuje stav procesu overenia (schváleného, čakajúceho, odmietnutého alebo pridania domény).</span><span class="sxs-lookup"><span data-stu-id="c04bc-109">The **Billing** card indicates the status of the verification process (approved, pending, declined, or add your domain).</span></span>

<span data-ttu-id="c04bc-110">Ak bola vaša žiadosť zamietnutá, pozrite si [tému Moja škola nie je oprávnená. Čo mám teraz robiť?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span><span class="sxs-lookup"><span data-stu-id="c04bc-110">If your request is denied, see [My school isn’t eligible. What do I do now?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span></span>