---
title: Overenie EDU
ms.author: pebaum
author: pebaum
manager: mnirkhe
ms.audience: Admin
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 1889eb9b18f312da00196d575376960bc6b028fd
ms.sourcegitcommit: 9e44b852d18a2816acac0aacb78cb99b4c114368
ms.translationtype: MT
ms.contentlocale: sk-SK
ms.lasthandoff: 07/22/2020
ms.locfileid: "45205282"
---
# <a name="edu-verification"></a>Overenie EDU

Vo väčšine prípadov sa akademické žiadosti o oprávnenosť spracúvajú do 24 až 48 hodín. Niektoré požiadavky môžu vyžadovať dôkladnejšie preskúmanie a spracovanie môže trvať až 10 pracovných dní. Po dokončení vám pošleme e-mail so stavom oprávnenosti vašej školy.

**Dôležité upozornenie:** Ak ste pred vstupom do domény opustili sprievodcu overením, môžete [počas bezplatnej skúšobnej verzie](https://go.microsoft.com/fwlink/p/?linkid=2135255) kedykoľvek obnoviť sprievodcu akademickým overením.

Ak chcete skontrolovať stav domény, prejdite do Centra [spravovania služby Microsoft 365](https://go.microsoft.com/fwlink/p/?linkid=2024339). Na domovskej stránke sa posuňte nadol a vyhľadajte kartu **Fakturácia.** Karta **Fakturácia** označuje stav procesu overenia (schváleného, čakajúceho, odmietnutého alebo pridania domény).

Ak bola vaša žiadosť zamietnutá, pozrite si [tému Moja škola nie je oprávnená. Čo mám teraz robiť?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)