---
title: 8000038 overenie detského konta GDPR
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 04/21/2020
ms.audience: ITPro
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 844679cba6b109a2c552c38e1884040cd545cd260930eb7aabed6ed0911c8a50
ms.sourcegitcommit: b5f7da89a650d2915dc652449623c78be6247175
ms.translationtype: MT
ms.contentlocale: sk-SK
ms.lasthandoff: 08/05/2021
ms.locfileid: "54057009"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Dátum narodenia zobrazený v konte Microsoft je nesprávny

Spoločnosť Microsoft berie zabezpečenie konta veľmi vážne. Možno sa vám nedávno zobrazí výzva na poskytnutie súhlasu rodiča pre konto Microsoft dieťaťa. Ak potrebujete pomoc s poskytnutím súhlasu rodiča alebo s aktualizáciou dátumu narodenia v konte Microsoft, pozrite si časť Overenie veku [pre rodičovský súhlas.](https://go.microsoft.com/fwlink/p/?linkid=874364)
  
Ďalšie informácie o [rodičovskom súhlase a detských kontách Microsoft.](https://go.microsoft.com/fwlink/p/?linkid=874365)
  