---
title: 8000038 GDPR overenie detského účtu
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 04/21/2020
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 238d1440438bce2531f1a57f5592a204cf9c3cf3
ms.sourcegitcommit: 55eff703a17e500681d8fa6a87eb067019ade3cc
ms.translationtype: MT
ms.contentlocale: sk-SK
ms.lasthandoff: 04/22/2020
ms.locfileid: "43764995"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Dátum narodenia zobrazený v konte Microsoft je nesprávny

Spoločnosť Microsoft zohľadňuje zabezpečenie veľmi vážne. Možno ste nedávno boli vyzvaní na poskytnutie rodičovského súhlasu pre konto Microsoft dieťaťa. Ak potrebujete pomoc s poskytnutím súhlasu rodiča alebo aktualizáciou dátumu narodenia na konte Microsoft, pozrite si časť [overenie veku pre rodičovský súhlas](https://go.microsoft.com/fwlink/p/?linkid=874364).
  
Prečítajte si ďalšie informácie o [súhlase rodiča a detských kontách spoločnosti Microsoft](https://go.microsoft.com/fwlink/p/?linkid=874365).
  