---
title: 8000038 overenie účtu HDPR detí
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom: 8000038
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: c664adf9fdb0306b3407a5c23628aa4c7bbd5b83
ms.sourcegitcommit: 03a156a9c9740521155a30775492c7dff0982588
ms.translationtype: MT
ms.contentlocale: sk-SK
ms.lasthandoff: 03/22/2019
ms.locfileid: "30775851"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Dátum narodenia zobrazia v účte Microsoft je nesprávne

Microsoft má zabezpečenie účtu veľmi vážne. Môžete mať nedávno boli vyzvaní na poskytovanie rodičovského súhlasu detského konta Microsoft. Ak potrebujete pomoc rodičovského súhlasu alebo aktualizovať dátumu narodenia v konte Microsoft, pozrite si [overenie veku súhlasu rodičov](https://go.microsoft.com/fwlink/p/?linkid=874364).
  
Ďalšie informácie o [súhlas rodičov a detí kontá Microsoft](https://go.microsoft.com/fwlink/p/?linkid=874365).
  

