---
title: overenie HDPR detského konta 8000038
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 04/21/2020
ms.audience: ITPro
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 6ad5de2c3595c775d7b5080c2ac116dd002e6777
ms.sourcegitcommit: c6692ce0fa1358ec3529e59ca0ecdfdea4cdc759
ms.translationtype: MT
ms.contentlocale: sk-SK
ms.lasthandoff: 09/14/2020
ms.locfileid: "47707978"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Dátum narodenia zobrazený v konte Microsoft je nesprávny

Spoločnosť Microsoft berie do úvahy bezpečnosť konta veľmi vážne. Môže sa stať, že ste boli nedávno upozornení na to, aby ste mali súhlas rodičov s kontom Microsoft dieťaťa. Ak potrebujete pomoc so zabezpečením súhlasu rodičov alebo aktualizáciou dátumu narodenia v konte Microsoft, pozrite si tému [overenie veku na základe súhlasu rodičov](https://go.microsoft.com/fwlink/p/?linkid=874364).
  
Získajte ďalšie informácie o [súhlase rodičov a podriadených kontách Microsoft](https://go.microsoft.com/fwlink/p/?linkid=874365).
  