---
title: 8000038 overenie účtu HDPR detí
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 13e69ac917a08a338759269df5724c0528dd2eb0
ms.sourcegitcommit: 1d98db8acb9959aba3b5e308a567ade6b62da56c
ms.translationtype: MT
ms.contentlocale: sk-SK
ms.lasthandoff: 08/22/2019
ms.locfileid: "36524426"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Dátum narodenia zobrazia v účte Microsoft je nesprávne

Microsoft má zabezpečenie účtu veľmi vážne. Môžete mať nedávno boli vyzvaní na poskytovanie rodičovského súhlasu detského konta Microsoft. Ak potrebujete pomoc rodičovského súhlasu alebo aktualizovať dátumu narodenia v konte Microsoft, pozrite si [overenie veku súhlasu rodičov](https://go.microsoft.com/fwlink/p/?linkid=874364).
  
Ďalšie informácie o [súhlas rodičov a detí kontá Microsoft](https://go.microsoft.com/fwlink/p/?linkid=874365).
  