---
title: Riešenie problémov s overovaním programu Publisher
ms.author: v-smandalika
author: v-smandalika
manager: dansimp
ms.date: 01/15/2021
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "9004323"
- "7712"
ms.openlocfilehash: d4d0a78256a869ef4c1e19fe1ceb590824b10817
ms.sourcegitcommit: 6dc6f999e840c90694a246b90062950205679420
ms.translationtype: MT
ms.contentlocale: sk-SK
ms.lasthandoff: 01/15/2021
ms.locfileid: "49885371"
---
# <a name="issues-related-to-publisher-verification-for-developers"></a><span data-ttu-id="9a8a1-102">Problémy súvisiace s overovaním v programe Publisher pre vývojárov</span><span class="sxs-lookup"><span data-stu-id="9a8a1-102">Issues related to Publisher Verification for developers</span></span>

<span data-ttu-id="9a8a1-103">**Odporúčané kroky**</span><span class="sxs-lookup"><span data-stu-id="9a8a1-103">**Recommended steps**</span></span> 

<span data-ttu-id="9a8a1-104">Ak chcete vyriešiť problémy súvisiace s overovaním v programe Publisher, vykonajte nižšie uvedené kroky:</span><span class="sxs-lookup"><span data-stu-id="9a8a1-104">To resolve issues related to publisher verification, perform the below steps:</span></span>

1. <span data-ttu-id="9a8a1-105">Prezrite si požiadavky a ďalšie požiadavky, aby ste zaistili, že sú všetky splnené.</span><span class="sxs-lookup"><span data-stu-id="9a8a1-105">Review the prerequisites and other requirements to ensure they are all met.</span></span>
2. <span data-ttu-id="9a8a1-106">Prečítajte si pokyny na [označenie aplikácie ako vydavateľa overené](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) a skontrolujte, či sa všetky kroky úspešne vykonali.</span><span class="sxs-lookup"><span data-stu-id="9a8a1-106">Review the instructions to [mark an app as publisher verified](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) and ensure all steps have been performed successfully.</span></span>
3. <span data-ttu-id="9a8a1-107">Pozrite si zoznam [bežných problémov](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) a postupujte podľa odporúčaných krokov, ak máte problém z tohto zoznamu.</span><span class="sxs-lookup"><span data-stu-id="9a8a1-107">Review the list of [common issues](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) and follow the recommended steps if you have an issue from such a list.</span></span>
4. <span data-ttu-id="9a8a1-108">Reprodukovať žiadosť pomocou programu [Graph Explorer](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) na zhromažďovanie ďalších informácií a vylúčenie problémov v používateľskom rozhraní.</span><span class="sxs-lookup"><span data-stu-id="9a8a1-108">Reproduce the request using [Graph Explorer](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) to gather additional info and rule out any issues in the UI.</span></span>

<span data-ttu-id="9a8a1-109">**Odporučené dokumenty**</span><span class="sxs-lookup"><span data-stu-id="9a8a1-109">**Recommended documents**</span></span>

- [<span data-ttu-id="9a8a1-110">Overenie programu Publisher – prehľad</span><span class="sxs-lookup"><span data-stu-id="9a8a1-110">Publisher verification - overview</span></span>](https://docs.microsoft.com/azure/active-directory/develop/publisher-verification-overview) 
- [<span data-ttu-id="9a8a1-111">Označenie aplikácie ako vydavateľa overené</span><span class="sxs-lookup"><span data-stu-id="9a8a1-111">Mark your app as publisher verified</span></span>](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) 
- [<span data-ttu-id="9a8a1-112">Riešenie problémov s overovaním programu Publisher</span><span class="sxs-lookup"><span data-stu-id="9a8a1-112">Troubleshoot publisher verification</span></span>](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification)

