---
title: Riešenie problémov s overovaním programu Publisher
ms.author: v-smandalika
author: v-smandalika
manager: dansimp
ms.date: 01/15/2021
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "9004323"
- "7712"
ms.openlocfilehash: d4d0a78256a869ef4c1e19fe1ceb590824b10817
ms.sourcegitcommit: 6dc6f999e840c90694a246b90062950205679420
ms.translationtype: MT
ms.contentlocale: sk-SK
ms.lasthandoff: 01/15/2021
ms.locfileid: "49885371"
---
# <a name="issues-related-to-publisher-verification-for-developers"></a>Problémy súvisiace s overovaním v programe Publisher pre vývojárov

**Odporúčané kroky** 

Ak chcete vyriešiť problémy súvisiace s overovaním v programe Publisher, vykonajte nižšie uvedené kroky:

1. Prezrite si požiadavky a ďalšie požiadavky, aby ste zaistili, že sú všetky splnené.
2. Prečítajte si pokyny na [označenie aplikácie ako vydavateľa overené](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) a skontrolujte, či sa všetky kroky úspešne vykonali.
3. Pozrite si zoznam [bežných problémov](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) a postupujte podľa odporúčaných krokov, ak máte problém z tohto zoznamu.
4. Reprodukovať žiadosť pomocou programu [Graph Explorer](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) na zhromažďovanie ďalších informácií a vylúčenie problémov v používateľskom rozhraní.

**Odporučené dokumenty**

- [Overenie programu Publisher – prehľad](https://docs.microsoft.com/azure/active-directory/develop/publisher-verification-overview) 
- [Označenie aplikácie ako vydavateľa overené](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) 
- [Riešenie problémov s overovaním programu Publisher](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification)

